Repository kokuwaio/kyverno: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, push, dockerhub

.woodpecker/build.yaml:

when:
  instance: ci.kokuwa.io
  repo: woodpecker/kyverno
  event: [manual, push, pull_request]
  branch: main
  path: [.woodpecker/build.yaml, Dockerfile, Dockerfile.dockerignore, entrypoint.sh]

steps:

  build:
    image: kokuwaio/buildctl:v0.24.0
    settings: &settings
      name: registry.kokuwa.io/kokuwaio/kyverno:ci-${CI_PIPELINE_NUMBER}
      auth:
        registry.kokuwa.io:
          username: {from_secret: kokuwa_io_username}
          password: {from_secret: kokuwa_io_password}
      platform: [linux/amd64, linux/arm64]
      annotation:
        org.opencontainers.image.title: Kyverno WoodpeckerCI Plugin
        org.opencontainers.image.description: A WoodpeckerCI plugin to run kyverno and kubectl to lint kubernetes manifests.
        org.opencontainers.image.url: $CI_REPO_URL
        org.opencontainers.image.documentation: $CI_REPO_URL/README.md
        org.opencontainers.image.source: $CI_REPO_CLONE_URL
        org.opencontainers.image.revision: $CI_COMMIT_SHA
        org.opencontainers.image.vendor: kokuwa.io
        org.opencontainers.image.licenses: EUPL-1.2
        org.opencontainers.image.ref.name: kokuwaio/kyverno
        org.opencontainers.image.version: v1.15.1
    when:
      event: pull_request

  push:
    image: kokuwaio/buildctl:v0.24.0
    settings:
      <<: *settings
      name:
        - registry.kokuwa.io/kokuwaio/kyverno:latest
        - registry.kokuwa.io/kokuwaio/kyverno:v1.15.1
        - docker.io/kokuwaio/kyverno:latest
        - docker.io/kokuwaio/kyverno:v1.15.1
        - ghcr.io/kokuwaio/kyverno:latest
        - ghcr.io/kokuwaio/kyverno:v1.15.1
      auth:
        "https://index.docker.io/v1/":
          username: {from_secret: docker_io_username}
          password: {from_secret: docker_io_password}
        ghcr.io:
          username: {from_secret: ghcr_io_username}
          password: {from_secret: ghcr_io_password}
        registry.kokuwa.io:
          username: {from_secret: kokuwa_io_username}
          password: {from_secret: kokuwa_io_password}
    when:
      event: [manual, push]
      branch: main

.woodpecker/dockerhub.yaml:

when:
  instance: ci.kokuwa.io
  repo: woodpecker/kyverno
  event: [manual, push]
  branch: main
  path: [.woodpecker/dockerhub.yaml, README.md]

steps:

  metadata:
    image: kokuwaio/dockerhub-metadata
    settings:
      repository: kokuwaio/kyverno
      description-short: A WoodpeckerCI plugin to run kyverno and kubectl to lint kubernetes manifests.
      categories: [developer-tools, integration-and-delivery]
      username: {from_secret: dockerhub_username}
      password: {from_secret: dockerhub_password}

chore(deps): update kokuwaio/just docker tag from 1.55.0 to 1.55.1
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update dependency kyverno/kyverno from v1.18.1 to v1.18.2
  .woodpecker/build.yaml
  Dockerfile
  README.md
Due: build, push, dockerhub

chore(deps): update kokuwaio/just docker tag from 1.55.1 to 1.56.0
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update kokuwaio/just docker tag from 1.56.0 to 1.57.0
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update kokuwaio/buildctl docker tag from v0.31.1 to v0.31.2
  .woodpecker/build.yaml
Due: build, push

chore(deps): update kokuwaio/markdownlint docker tag from 0.49.0 to 0.49.1
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update kokuwaio/renovate-config-validator docker tag from 43 to 44
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update kokuwaio/buildctl docker tag from v0.31.2 to v0.32.0
  .woodpecker/build.yaml
Due: build, push

chore(deps): update kokuwaio/buildctl docker tag from v0.32.0 to v0.32.1
  .woodpecker/build.yaml
Due: build, push

chore(deps): update kokuwaio/just docker tag from 1.57.0 to 1.58.0
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update kokuwaio/buildctl docker tag from v0.32.1 to v0.32.2
  .woodpecker/build.yaml
Due: build, push

chore(deps): update kokuwaio/hadolint docker tag from v2.14.0 to v2.15.1
  .woodpecker/lint.yaml
Due: none

fix: ignore new hadolint warning because bash is not recognized
  .justfile
  Dockerfile
Due: build, push

chore(deps): update dependency mikefarah/yq from v4.53.3 to v4.53.4
  Dockerfile
Due: build, push

chore(deps): update dependency mikefarah/yq from v4.53.4 to v4.53.6
  Dockerfile
Due: build, push

chore(deps): update dependency kyverno/kyverno from v1.18.2 to v1.19.0
  .woodpecker/build.yaml
  Dockerfile
  README.md
Due: build, push, dockerhub

chore(deps): update kokuwaio/buildctl docker tag from v0.32.2 to v0.33.0
  .woodpecker/build.yaml
Due: build, push

chore(deps): update dependency kyverno/kyverno from v1.19.0 to v1.19.1
  .woodpecker/build.yaml
  Dockerfile
  README.md
Due: build, push, dockerhub

chore(deps): update docker.io/library/bash docker tag from 5.3.15 to 5.3.20
  Dockerfile
Due: build, push

chore(deps): update docker.io/library/bash:5.3.20 docker digest to d0c3166
  Dockerfile
Due: build, push

chore(deps): update docker.io/library/bash:5.3.20 docker digest to 17bcd6f
  Dockerfile
Due: build, push

chore(deps): update docker.io/library/bash:5.3.20 docker digest to bfa60b7
  Dockerfile
Due: build, push

chore(deps): update docker.io/library/bash:5.3.20 docker digest to f17265d
  Dockerfile
Due: build, push

chore(deps): update docker.io/library/bash:5.3.20 docker digest to bfe38ab
  Dockerfile
Due: build, push

chore(deps): update docker.io/library/bash:5.3.20 docker digest to 6196206
  Dockerfile
Due: build, push

chore(deps): update dependency mikefarah/yq from v4.53.6 to v4.54.1
  Dockerfile
Due: build, push

chore(deps): update kokuwaio/buildctl docker tag from v0.33.0 to v0.33.1
  .woodpecker/build.yaml
Due: build, push
