Repository kokuwaio/kyverno: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, push, dockerhub

build:
  image: kokuwaio/buildctl:v0.24.0
  settings:
    name: registry.kokuwa.io/kokuwaio/kyverno:ci-${CI_PIPELINE_NUMBER}
    auth:
      registry.kokuwa.io:
        username:
          from_secret: kokuwa_io_username
        password:
          from_secret: kokuwa_io_password
    platform:
    - linux/amd64
    - linux/arm64
  ...

push:
  image: kokuwaio/buildctl:v0.24.0
  settings:
    name:
    - registry.kokuwa.io/kokuwaio/kyverno:latest
    - registry.kokuwa.io/kokuwaio/kyverno:v1.15.1
    - docker.io/kokuwaio/kyverno:latest
    - docker.io/kokuwaio/kyverno:v1.15.1
    - ghcr.io/kokuwaio/kyverno:latest
    - ghcr.io/kokuwaio/kyverno:v1.15.1
  ...

dockerhub:
  steps:
    metadata:
      image: kokuwaio/dockerhub-metadata
      settings:
        repository: kokuwaio/kyverno
        description-short: A WoodpeckerCI plugin to run kyverno and kubectl to lint kubernetes manifests.
        categories:
        - developer-tools
        - integration-and-delivery
  ...

chore(deps): update dependency mikefarah/yq from v4.50.1 to v4.52.1
  Dockerfile
Due: build, push

chore(deps): update dependency mikefarah/yq from v4.52.1 to v4.52.2
  Dockerfile
Due: build, push

chore(deps): update dependency kyverno/kyverno from v1.16.3 to v1.17.0
  .woodpecker/build.yaml
  Dockerfile
  README.md
Due: build, push, dockerhub

chore(deps): update kokuwaio/renovate-config-validator docker tag from 42 to 43
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update dependency mikefarah/yq from v4.52.2 to v4.52.4
  Dockerfile
Due: build, push

chore(deps): update dependency kyverno/kyverno from v1.17.0 to v1.17.1
  .woodpecker/build.yaml
  Dockerfile
  README.md
Due: build, push, dockerhub

chore(deps): update kokuwaio/markdownlint docker tag from 0.47.0 to 0.48.0
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update kokuwaio/buildctl docker tag from v0.27.1 to v0.28.0
  .woodpecker/build.yaml
Due: build, push

chore(deps): update kokuwaio/just docker tag from 1.46.0 to 1.47.0
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update kokuwaio/just docker tag from 1.47.0 to 1.47.1
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update kokuwaio/just docker tag from 1.47.1 to 1.48.0
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update dependency mikefarah/yq from v4.52.4 to v4.52.5
  Dockerfile
Due: build, push

chore(deps): update kokuwaio/buildctl docker tag from v0.28.0 to v0.28.1
  .woodpecker/build.yaml
Due: build, push

chore(deps): update kokuwaio/just docker tag from 1.48.0 to 1.48.1
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update kokuwaio/buildctl docker tag from v0.28.1 to v0.29.0
  .woodpecker/build.yaml
Due: build, push

feat: add setting `exceptions` for kyverno policy exceptions
  README.md
  entrypoint.sh
Due: build, push, dockerhub

chore(deps): update kokuwaio/just docker tag from 1.48.1 to 1.49.0
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update docker.io/library/bash:5.3.9 docker digest to 80e26d4
  Dockerfile
Due: build, push

chore(deps): update docker.io/library/bash:5.3.9 docker digest to 38697a8
  Dockerfile
Due: build, push

chore(deps): update dependency mikefarah/yq from v4.52.5 to v4.53.2
  Dockerfile
Due: build, push

chore(deps): update kokuwaio/just docker tag from 1.49.0 to 1.50.0
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update dependency kyverno/kyverno from v1.17.1 to v1.17.2
  .woodpecker/build.yaml
  Dockerfile
  README.md
Due: build, push, dockerhub

chore(deps): update dependency kyverno/kyverno from v1.17.2 to v1.18.0
  .woodpecker/build.yaml
  Dockerfile
  README.md
Due: build, push, dockerhub

chore(deps): update kokuwaio/just docker tag from 1.50.0 to 1.51.0
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update dependency kyverno/kyverno from v1.18.0 to v1.18.1
  .woodpecker/build.yaml
  Dockerfile
  README.md
Due: build, push, dockerhub

chore(deps): update kokuwaio/buildctl docker tag from v0.29.0 to v0.30.0
  .woodpecker/build.yaml
Due: build, push

chore(deps): update docker.io/library/bash docker tag from 5.3.9 to 5.3.12
  Dockerfile
Due: build, push

chore(deps): update dependency mikefarah/yq from v4.53.2 to v4.53.3
  Dockerfile
Due: build, push

chore(deps): update kokuwaio/just docker tag from 1.51.0 to 1.52.0
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update docker.io/library/bash docker tag from 5.3.12 to 5.3.15
  Dockerfile
Due: build, push

chore(deps): update docker.io/library/bash:5.3.15 docker digest to 66b753f
  Dockerfile
Due: build, push

chore(deps): update docker.io/library/bash:5.3.15 docker digest to 27639cc
  Dockerfile
Due: build, push

chore(deps): update docker.io/library/bash:5.3.15 docker digest to 6d8f512
  Dockerfile
Due: build, push

chore(deps): update docker.io/library/bash:5.3.15 docker digest to a19c811
  Dockerfile
Due: build, push

chore(deps): update kokuwaio/just docker tag from 1.52.0 to 1.53.0
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update kokuwaio/buildctl docker tag from v0.30.0 to v0.31.0
  .woodpecker/build.yaml
Due: build, push

chore(deps): update kokuwaio/markdownlint docker tag from 0.48.0 to 0.49.0
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update kokuwaio/just docker tag from 1.53.0 to 1.54.0
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update kokuwaio/buildctl docker tag from v0.31.0 to v0.31.1
  .woodpecker/build.yaml
Due: build, push

chore(deps): update kokuwaio/just docker tag from 1.54.0 to 1.55.0
  .justfile
  .woodpecker/lint.yaml
Due: none

Path conditions:
  build: any of: .woodpecker/build.yaml, Dockerfile, Dockerfile.dockerignore, entrypoint.sh
  push: any of: .woodpecker/build.yaml, Dockerfile, Dockerfile.dockerignore, entrypoint.sh
  dockerhub: any of: .woodpecker/dockerhub.yaml, README.md
