Repository kokuwaio/kyverno: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, push, dockerhub

build:
  image: kokuwaio/buildctl:v0.24.0
  settings:
    name: registry.kokuwa.io/kokuwaio/kyverno:ci-${CI_PIPELINE_NUMBER}
    auth:
      registry.kokuwa.io:
        username:
          from_secret: kokuwa_io_username
        password:
          from_secret: kokuwa_io_password
    platform:
    - linux/amd64
    - linux/arm64
  ...

push:
  image: kokuwaio/buildctl:v0.24.0
  settings:
    name:
    - registry.kokuwa.io/kokuwaio/kyverno:latest
    - registry.kokuwa.io/kokuwaio/kyverno:v1.15.1
    - docker.io/kokuwaio/kyverno:latest
    - docker.io/kokuwaio/kyverno:v1.15.1
    - ghcr.io/kokuwaio/kyverno:latest
    - ghcr.io/kokuwaio/kyverno:v1.15.1
  ...

dockerhub:
  steps:
    metadata:
      image: kokuwaio/dockerhub-metadata
      settings:
        repository: kokuwaio/kyverno
        description-short: A WoodpeckerCI plugin to run kyverno and kubectl to lint kubernetes manifests.
        categories:
        - developer-tools
        - integration-and-delivery
  ...

chore(deps): update dependency kyverno/kyverno from v1.15.1 to v1.15.2
  .woodpecker/build.yaml
  Dockerfile
  README.md
Due: build, push, dockerhub

feat: use yq to filter yaml documents
  .justfile
  Dockerfile
  README.md
  entrypoint.sh
  manifests.yaml
  policies.yaml
  renovate.json
  test/manifests-fail-kube-system/configmap.yaml
  test/policies/garbage.yaml
  test/policies/pod-disruption-budget.yaml
  test/policies/subfolder/disallow-kube-system-namespace.yml
Due: build, push, dockerhub

chore(deps): update dependency mikefarah/yq from v4.47.1 to v4.47.2
  Dockerfile
Due: build, push

chore(deps): update kokuwaio/buildctl docker tag from v0.24.0 to v0.25.0
  .woodpecker/build.yaml
Due: build, push

chore(deps): update kokuwaio/buildctl docker tag from v0.25.0 to v0.25.1
  .woodpecker/build.yaml
Due: build, push

chore(deps): update docker.io/library/bash:5.3.3 docker digest to a997515
  Dockerfile
Due: build, push

chore(deps): update docker.io/library/bash:5.3.3 docker digest to ae4668c
  Dockerfile
Due: build, push

chore(deps): update dependency mikefarah/yq from v4.47.2 to v4.48.1
  Dockerfile
Due: build, push

chore(deps): update kokuwaio/buildctl docker tag from v0.25.1 to v0.25.2
  .woodpecker/build.yaml
Due: build, push

chore(deps): update dependency mikefarah/yq from v4.48.1 to v4.48.2
  Dockerfile
Due: build, push

chore(deps): update dependency kyverno/kyverno from v1.15.2 to v1.16.0
  .woodpecker/build.yaml
  Dockerfile
  README.md
Due: build, push, dockerhub

chore(deps): update kokuwaio/buildctl docker tag from v0.25.2 to v0.26.0
  .woodpecker/build.yaml
Due: build, push

chore(deps): update kokuwaio/buildctl docker tag from v0.26.0 to v0.26.1
  .woodpecker/build.yaml
Due: build, push

chore(deps): update kokuwaio/renovate-config-validator docker tag from 41 to 42
  .woodpecker/lint.yaml
Due: none

chore(deps): update kokuwaio/buildctl docker tag from v0.26.1 to v0.26.2
  .woodpecker/build.yaml
Due: build, push

chore(deps): update kokuwaio/markdownlint docker tag from 0.45.0 to 0.46.0
  .woodpecker/lint.yaml
Due: none

fix(lint): fix md issues after markdownlint update
  README.md
Due: dockerhub

chore(deps): update dependency mikefarah/yq from v4.48.2 to v4.49.1
  Dockerfile
Due: build, push

chore(deps): update dependency mikefarah/yq from v4.49.1 to v4.49.2
  Dockerfile
Due: build, push

chore(deps): update docker.io/library/bash docker tag from 5.3.3 to 5.3.8
  Dockerfile
Due: build, push

chore(deps): update docker.io/library/bash:5.3.8 docker digest to 84e9597
  Dockerfile
Due: build, push

chore(deps): update dependency kyverno/kyverno from v1.16.0 to v1.16.1
  .woodpecker/build.yaml
  Dockerfile
  README.md
Due: build, push, dockerhub

chore(deps): update docker.io/library/bash:5.3.8 docker digest to 3e32c56
  Dockerfile
Due: build, push

chore(deps): update docker.io/library/bash:5.3.8 docker digest to 69f5b18
  Dockerfile
Due: build, push

chore(deps): update docker.io/library/bash docker tag from 5.3.8 to 5.3.9
  Dockerfile
Due: build, push

chore(deps): update docker.io/library/bash:5.3.9 docker digest to df9684c
  Dockerfile
Due: build, push

chore(deps): update dependency mikefarah/yq from v4.49.2 to v4.50.1
  Dockerfile
Due: build, push

chore(deps): update kokuwaio/markdownlint docker tag from 0.46.0 to 0.47.0
  .woodpecker/lint.yaml
Due: none

chore(deps): update kokuwaio/buildctl docker tag from v0.26.2 to v0.26.3
  .woodpecker/build.yaml
Due: build, push

chore(deps): update docker.io/library/bash:5.3.9 docker digest to 7437355
  Dockerfile
Due: build, push

chore(deps): update docker.io/library/bash:5.3.9 docker digest to 32ca165
  Dockerfile
Due: build, push

feat(just): add just file validator
  .justfile
  .woodpecker/lint.yaml
  Dockerfile
  README.md
  manifests.yaml
  policies.yaml
Due: build, push, dockerhub

chore(deps): update kokuwaio/just docker tag from 1.45.0 to 1.46.0
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update dependency kyverno/kyverno from v1.16.1 to v1.16.2
  .woodpecker/build.yaml
  Dockerfile
  README.md
Due: build, push, dockerhub

chore(deps): update kokuwaio/yamllint docker tag from v1.37.1 to v1.38.0
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update kokuwaio/buildctl docker tag from v0.26.3 to v0.27.0
  .woodpecker/build.yaml
Due: build, push

chore(deps): update dependency kyverno/kyverno from v1.16.2 to v1.16.3
  .woodpecker/build.yaml
  Dockerfile
  README.md
Due: build, push, dockerhub

chore(deps): update docker.io/library/bash:5.3.9 docker digest to 0260ac3
  Dockerfile
Due: build, push

chore(deps): update docker.io/library/bash:5.3.9 docker digest to e320b40
  Dockerfile
Due: build, push

chore(deps): update kokuwaio/buildctl docker tag from v0.27.0 to v0.27.1
  .woodpecker/build.yaml
Due: build, push

Path conditions:
  build: any of: .woodpecker/build.yaml, Dockerfile, Dockerfile.dockerignore, entrypoint.sh
  push: any of: .woodpecker/build.yaml, Dockerfile, Dockerfile.dockerignore, entrypoint.sh
  dockerhub: any of: .woodpecker/dockerhub.yaml, README.md
